# Dependencies
node_modules

# Build outputs
dist
dist-ssr
frontend/dist

# Go binary
backend/server

# Environment files
.env
backend/.env

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
